/* AWS Bedrock Chat Styles */

form#aws-bedrock-chat-form {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40%;
  z-index: 99999;
  max-width: 100%;
}

form#aws-bedrock-chat-form div.grid-container {
  padding: 0;
}

.aws-bedrock-chat-main {
  display: none;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 3px #dedede;
  -webkit-box-shadow: 5px 5px 3px #dedede;
  box-shadow: 5px 5px 3px #dedede;
  border: 1px solid #0e1e45;
  background: #fff;
}

.aws-bedrock-chat-response-message-icon {
  max-width: 40px;
  margin: auto 0px -5px;
}

.aws-bedrock-chat-header {
  background: #0e1e45;
  color: #fff;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
}

.aws-bedrock-chat-icon {
  text-align: right;
  margin-top: 15px;
}

.aws-bedrock-chat-icon img,
.aws-bedrock-chat-icon svg {
  width: 75px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.aws-bedrock-chat-icon svg path {
  fill: #0e1e45;
}

.aws-bedrock-chat-icon img:hover,
.aws-bedrock-chat-icon svg:hover {
  transform: scale(1.05);
}

.aws-bedrock-chat-icon img.clicked,
.aws-bedrock-chat-icon svg.clicked {
  transform: scale(0.95);
}

input#aws-bedrock-chat-submit.use-image {
  background: url('../images/send-icon-blue.png') no-repeat center;
  border: none;
  width: 50px;
  height: 50px;
  background-size: contain;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  color: transparent;
  background-color: transparent;
  margin: 0;
}

input#aws-bedrock-chat-submit.use-image:hover {
  background: url('../images/send-icon-white.png') no-repeat center;
  background-size: contain;
}

input#aws-bedrock-chat-submit.use-image:active {
  background: url('../images/send-icon-blue.png') no-repeat center;
  background-size: contain;
}

div.aws-bedrock-chat-input input#aws-bedrock-chat-submit:focus {
  outline: 1px solid #0e1e45;
  outline-width: thin;
}

div.aws-bedrock-chat-input button {
  border-radius: .25em;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

div.aws-bedrock-chat-input button:focus {
  outline: 1px solid #0e1e45;
  outline-width: thin;
}

div.aws-bedrock-chat-input button svg {
  padding: 1px;
  margin-bottom: -2px;
}

.aws-bedrock-chat-input {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.aws-bedrock-chat-input .form-type-textarea {
  flex-basis: 100%;
  margin-right: 7px;
  padding: 3px;
}

input#aws-bedrock-chat-submit {
  box-shadow: none;
  margin-right: 5px;
  display: none;
}

.aws-bedrock-chat-input .aws-bedrock-chat-user-input {
  min-height: 42px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 5px;
  border: 1px solid #ccc;
  resize: none;
  line-height: 22px;
  font-size: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

.aws-bedrock-chat-input .aws-bedrock-chat-user-input:focus {
  outline: none;
  border: 1px solid #0e1e45;
}

.aws-bedrock-chat-messages {
  padding: 10px;
  max-height: 550px;
  overflow-y: auto;
}

.aws-bedrock-chat-messages::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.aws-bedrock-chat-messages::-webkit-scrollbar-thumb {
  background-color: #0e1e45;
  border-radius: 10px;
}

.aws-bedrock-chat-messages::-webkit-scrollbar-track {
  background-color: #ccc;
}

.aws-bedrock-chat-message {
  display: flex;
}

.aws-bedrock-chat-response-message p.aws-bedrock-chat-message-content {
  border-bottom-left-radius: 4px;
}

.aws-bedrock-chat-user-message {
  flex-direction: row-reverse;
}

.aws-bedrock-chat-message-content {
  padding: 5px 10px;
  margin: 10px 0px 10px 10px;
  border-radius: 12px;
  background-color: #f1f0f0;
  border: 1px solid #ddd;
  max-width: 80%;
  word-wrap: break-word;
  color: #1b1b1b;
}

.aws-bedrock-chat-user {
  background-color: #ccdef7;
  margin-top: 15px;
}

.aws-bedrock-chat-references-divider {
  width: 90%;
  border-top: 1px solid #ccc;
  display: block;
  margin: 5px auto;
  height: 0px;
}

.aws-bedrock-chat-references-header {
  font-style: italic;
  font-size: 12px;
  color: #222;
  display: block;
  margin-left: 5px;
}

.aws-bedrock-reference {
  display: block;
  margin-left: 20px;
  line-height: 1.7;
}

.aws-bedrock-reference a {
  font-size: 15px;
  vertical-align: top;
}

.aws-bedrock-reference-num {
  font-size: 10px;
  vertical-align: top;
  margin-right: 7px;
}

.aws-bedrock-chat-ajax-loading {
  width: 30px;
  margin: 25px 0px 0px 40px;;
}

.rotate-icon {
  transition: transform 0.5s ease-in-out;
  transform: rotate(45deg);
}

@media all and (min-width:20em) {
  form#aws-bedrock-chat-form {
    width: 97%;
  }
}

@media all and (min-width:64em) {
  form#aws-bedrock-chat-form {
    width: 40%;
  }
}
